* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cards {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card h3 {
  padding-top: 20px;
  text-align: center;
}

.card p {
  color: rgb(49, 49, 118);
  text-align: center;
  padding-top: 20px;
}

.card {
  width: 340px;
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 12px;
}
